@font-face {
    font-family: 'vcr';
    src: url("/vrcfont.ttf");
}


body {
    background-color: paleturquoise;
    font-family: 'vcr';
    font-size: 22pt;
    color: #ffd1dc;
}

footer {
    font-size: .75rem;
}